<!-- Hello Universe -->

<!--<app-kapitel-01-interpolation></app-kapitel-01-interpolation>  (3) Das ausgewählte Element wird das Host-Element der Komponente -->
<!--<app-kapitel-02-property-binding></app-kapitel-02-property-binding>-->
<!--<app-kapitel-03-event-binding></app-kapitel-03-event-binding>-->
<!--<app-kapitel-04-dependency-injection></app-kapitel-04-dependency-injection>-->
<!--<app-kapitel-05-routing></app-kapitel-05-routing>-->
<!--<app-kapitel-06-http></app-kapitel-06-http>-->
<!--<app-kapitel-07-rxjs></app-kapitel-07-rxjs>-->
<!--<app-kapitel-08-interceptors></app-kapitel-08-interceptors>-->
<!--<app-kapitel-09-template-driven-forms></app-kapitel-09-template-driven-forms>-->
<!--<app-kapitel-10-reactive-forms></app-kapitel-10-reactive-forms>-->
<app-kapitel-11-formularvalidierung></app-kapitel-11-formularvalidierung>
<!--<app-kapitel-12-pipes></app-kapitel-12-pipes>-->
<!--<app-kapitel-13-direktiven></app-kapitel-13-direktiven>-->
<!--<app-kapitel-14-lazy-loading></app-kapitel-14-lazy-loading>-->
<!--<app-kapitel-15-guards></app-kapitel-15-guards>-->
<!--<app-kapitel-16-standalone-components></app-kapitel-16-standalone-components>-->
