<!-- (4) RouterOutlet als Platzhalter für die geladenen Komponenten. -->
<nav>
  <a routerLink="" routerLinkActive="active">Home</a>  <!-- (6) routerLink für Links -->
  &nbsp; <!-- Fügt ein Leerzeichen hinzu -->
  <a routerLink="about" routerLinkActive="active">About</a>  <!-- (8) routerLinkActive für aktive Links -->
</nav>

<ul>
  <li><a routerLink="/item/1">Item 1</a></li>
  <li><a routerLink="/item/2">Item 2</a></li>
</ul>

<router-outlet></router-outlet> <!-- Platzhalter für die Routen -->
